@model AppointmentEditViewModel
@{
    string time = ViewBag.Time as string;
    string returnUrl = ViewBag.ReturnUrl;
    ViewData["Title"] = Model.UserName ?? "Սեփական Գրանցումներ";
}

<h2 style="color: #c8c8c8;">Ուղղել Գրանցումը - @Model.UserName</h2>

<div asp-validation-summary="All" class="text-danger"></div>


@if (ViewBag.IsAdmin || User.IsInRole("Manager"))
{
    <div class="user-selection-container">
        @foreach (var user in Model.Users)
        {
            <div class="user-item @(user.Value == Model.SelectedUserId ? "selected" : "")" data-userid="@user.Value">
                @user.Text
            </div>
        }
    </div>
}

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" id="originalServicePrice" value="@Model.OriginalServicePrice" />
    <input type="hidden" asp-for="SelectedUserId" id="selectedUserId" />

    <div class="form-group">
        <label asp-for="FirstName" style="color: #ffffff;">Անուն</label>
        <input asp-for="FirstName" class="form-control bg-light-grey" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" style="color: #ffffff;">Հեռախոսահամար</label>
        <input asp-for="PhoneNumber" class="form-control bg-light-grey" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AppointmentDate" style="color: #ffffff;">Գրանցման Օր</label>
        <input asp-for="AppointmentDate" id="appointment-date-picker" class="form-control bg-light-grey" type="text" />
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-bottom: 10px;">
        <label asp-for="AppointmentHour" class="control-label" style="color: #ffffff;"></label>
        <select asp-for="AppointmentHour" class="form-control bg-light-grey" asp-items="ViewBag.HourOptions">
            <option value="@time">@time</option>
        </select>
        <span asp-validation-for="AppointmentHour" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ServiceId" style="color: #ffffff;">Ծառայություն</label>
        <div class="service-selection-container">
            <input type="text" id="serviceSearch" class="form-control bg-light-grey" placeholder="Որոնել ծառայությունը կամ մուտքագրել նորը" value="@(Model.CustomServiceName ?? Model.Services.FirstOrDefault(s => s.Selected)?.Text ?? "")" />
            <div id="serviceList" class="service-list-container">
                <!-- Ծառայությունների ցանկը կլցվի JavaScript-ով -->
            </div>
        </div>
        <input type="hidden" asp-for="ServiceId" id="selectedServiceId" />
        <input type="hidden" asp-for="CustomServiceName" id="customServiceName" />
    </div>
    <div class="form-group">
        <label asp-for="CustomPrice" style="color: #ffffff;">Գին</label>
        <input asp-for="CustomPrice" class="form-control bg-light-grey" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <label asp-for="Duration" style="color: #ffffff;">Ժամանակ</label>
        <select asp-for="Duration" class="form-control bg-light-grey">
            <option value="30">30 րոպե</option>
            <option value="60">1 ժամ</option>
            <option value="90">1 ժամ 30 րոպե</option>
            <option value="120">2 ժամ</option>
            <option value="150">2 ժամ 30 րոպե</option>
            <option value="180">3 ժամ</option>
            <option value="210">3 ժամ 30 րոպե</option>
            <option value="240">4 ժամ</option>
            <option value="270">4 ժամ 30 րոպե</option>
            <option value="300">5 ժամ</option>
            <option value="330">5 ժամ 30 րոպե</option>
            <option value="360">6 ժամ</option>
            <option value="390">6 ժամ 30 րոպե</option>
            <option value="420">7 ժամ</option>
            <option value="450">7 ժամ 30 րոպե</option>
            <option value="480">8 ժամ</option>
            <option value="510">8 ժամ 30 րոպե</option>
            <option value="540">9 ժամ</option>
            <option value="570">9 ժամ 30 րոպե</option>
            <option value="600">10 ժամ</option>
            <option value="630">10 ժամ 30 րոպե</option>
            <option value="660">11 ժամ</option>
            <option value="690">11 ժամ 30 րոպե</option>
            <option value="720">12 ժամ</option>
            <option value="750">12 ժամ 30 րոպե</option>
            <option value="780">13 ժամ</option>
            <option value="810">13 ժամ 30 րոպե</option>
            <option value="840">14 ժամ</option>
        </select>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Պահպանել</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/hy.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            flatpickr.localize(flatpickr.l10ns.hy);

            var appointmentDatePicker = flatpickr("#appointment-date-picker", {
                dateFormat: "Y-m-d",
                minDate: "today",
                maxDate: new Date().fp_incr(365),
                locale: "hy",
                theme: "dark",
                defaultDate: "@Model.AppointmentDate.ToString("yyyy-MM-dd")",
                onChange: function (selectedDates, dateStr, instance) {
                    // Այստեղ կարող եք ավելացնել լրացուցիչ տրամաբանություն, եթե անհրաժեշտ է
                }
            });

            // Prevent the calendar from closing when clicking on it
            $('.ui-datepicker').on('click', function (e) {
                e.stopPropagation();
            });

            $('#ServiceId').change(function () {
                var selectedServiceId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetServicePrice", "Appointments")',
                    type: 'GET',
                    data: { serviceId: selectedServiceId },
                    success: function (price) {
                        $('#CustomPrice').val(price);
                    }
                });
            });

            var serviceList = $("#serviceList");
            var serviceSearch = $("#serviceSearch");
            var selectedServiceId = $("#selectedServiceId");
            var customPriceInput = $("#CustomPrice");
            var originalServicePrice = $("#originalServicePrice");

            // Ծառայությունների ցուցակի ցուցադրում/թաքցնում
            serviceSearch.on("click", function () {
                serviceList.toggle();
            });

            // Փակել ցուցակը, եթե սեղմվել է այլ տեղ
            $(document).on("click", function (event) {
                if (!$(event.target).closest(".service-selection-container").length) {
                    serviceList.hide();
                }
            });

            function loadServices() {
                $.ajax({
                    url: '@Url.Action("GetAllServices", "Appointments")',
                    type: 'GET',
                    success: function (services) {
                        serviceList.empty();
                        services.forEach(function (service) {
                            serviceList.append('<div class="service-item" data-id="' + service.id + '" data-price="' + service.price + '">' + service.serviceName + '</div>');
                        });

                        // Ընտրված ծառայության ցուցադրում
                        var initialServiceId = selectedServiceId.val();
                        if (initialServiceId) {
                            var initialService = services.find(s => s.id == initialServiceId);
                            if (initialService) {
                                serviceSearch.val(initialService.serviceName);
                                // Ստուգում ենք՝ արդյոք CustomPrice-ը տարբերվում է օրիգինալ գնից
                                if (parseFloat(customPriceInput.val()) === parseFloat(originalServicePrice.val())) {
                                    customPriceInput.val(initialService.price);
                                }
                            }
                        }
                    }
                });
            }

            // Ծառայությունների բեռնում էջի բացման ժամանակ
            loadServices();

            // Որոնում
            serviceSearch.on("change", function () {
                if ($(this).val() === "") {
                    selectedServiceId.val("");
                    customPriceInput.val("0");
                }
            });

            serviceSearch.on("input", function () {
                var searchTerm = $(this).val().toLowerCase();
                var matchFound = false;
                $(".service-item").each(function () {
                    var serviceName = $(this).text().toLowerCase();
                    if (serviceName.indexOf(searchTerm) > -1) {
                        $(this).show();
                        matchFound = true;
                    } else {
                        $(this).hide();
                    }
                });

                if (!matchFound && searchTerm.length > 0) {
                    $("#customServiceName").val(searchTerm);
                    $("#selectedServiceId").val("");
                    $("#CustomPrice").val("0.00");
                } else {
                    $("#customServiceName").val("");
                }
            });

            // Ծառայության ընտրություն
            serviceList.on("click", ".service-item", function () {
                var selectedService = $(this);
                serviceSearch.val(selectedService.text());
                $("#selectedServiceId").val(selectedService.data("id"));
                $("#customServiceName").val("");
                $("#CustomPrice").val(selectedService.data("price"));
                serviceList.hide();
            });

            $('#SelectedUserId').change(function () {
                var selectedDate = $('#appointment-date-picker').val();
                $('#appointment-date-picker').val(selectedDate);
            });

            $('.user-item').on('click', function () {
                $('.user-item').removeClass('selected');
                $(this).addClass('selected');
                $('#selectedUserId').val($(this).data('userid'));
            });

        });
    </script>
}

<style>
    /* Flatpickr custom styles */
    .flatpickr-calendar {
        background: #333 !important;
        border-color: #555 !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
        color: #fff !important;
    }

    .flatpickr-day {
        color: #fff !important;
        background: #4a4a4a !important;
        border-color: #555 !important;
    }

        .flatpickr-day:hover {
            background: #555 !important;
        }

        .flatpickr-day.selected,
        .flatpickr-day.startRange,
        .flatpickr-day.endRange,
        .flatpickr-day.selected.inRange,
        .flatpickr-day.startRange.inRange,
        .flatpickr-day.endRange.inRange,
        .flatpickr-day.selected:focus,
        .flatpickr-day.startRange:focus,
        .flatpickr-day.endRange:focus {
            background: #007bff !important;
            border-color: #007bff !important;
            color: #fff !important;
        }

        .flatpickr-day.today {
            border-color: #007bff !important;
            color: #007bff !important;
        }

            .flatpickr-day.today:hover,
            .flatpickr-day.today:focus {
                background: #007bff !important;
                color: #fff !important;
            }

            .flatpickr-day.inRange,
            .flatpickr-day.prevMonthDay.inRange,
            .flatpickr-day.nextMonthDay.inRange,
            .flatpickr-day.today.inRange,
            .flatpickr-day.prevMonthDay.today.inRange,
            .flatpickr-day.nextMonthDay.today.inRange,
            .flatpickr-day:hover,
            .flatpickr-day.prevMonthDay:hover,
            .flatpickr-day.nextMonthDay:hover,
            .flatpickr-day:focus,
            .flatpickr-day.prevMonthDay:focus,
            .flatpickr-day.nextMonthDay:focus {
                background: #555 !important;
                border-color: #555 !important;
            }

        .flatpickr-day.flatpickr-disabled,
        .flatpickr-day.flatpickr-disabled:hover,
        .flatpickr-day.prevMonthDay,
        .flatpickr-day.nextMonthDay,
        .flatpickr-day.notAllowed,
        .flatpickr-day.notAllowed.prevMonthDay,
        .flatpickr-day.notAllowed.nextMonthDay {
            color: rgba(255, 255, 255, 0.3) !important;
            background: transparent !important;
        }

    .flatpickr-current-month {
        color: #fff !important;
    }

    .flatpickr-weekday {
        color: #ccc !important;
        background: #333 !important;
    }

    .flatpickr-months {
        background: #333 !important;
    }

    .flatpickr-month {
        color: #fff !important;
        fill: #fff !important;
    }

    .flatpickr-monthDropdown-months {
        background: #333 !important;
        color: #fff !important;
        height: 24px !important;
    }

    .flatpickr-monthDropdown-month {
        background-color: #404040 !important;
        color: #fff !important;
    }

        .flatpickr-monthDropdown-month:hover {
            background-color: #505050 !important;
        }

        .flatpickr-monthDropdown-month.selected {
            background-color: #666 !important;
        }

    .flatpickr-prev-month,
    .flatpickr-next-month {
        fill: #fff !important;
    }

        .flatpickr-prev-month:hover svg,
        .flatpickr-next-month:hover svg {
            fill: #007bff !important;
        }

    body {
        background-color: #f2f2f2;
        color: #ffffff;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #4a4a4a;
        border-color: #4a4a4a;
        color: #ffffff;
    }

        .btn-primary:hover {
            background-color: #666666;
            border-color: #666666;
        }

    .btn-lg {
        padding: 10px 40px;
        font-size: 18px;
    }

    .form-control {
        background-color: #cccccc;
        color: #333333;
    }

        .form-control:focus {
            box-shadow: none;
        }

    .text-danger {
        color: #dc3545;
    }


    .service-selection-container {
        position: relative;
    }

    .service-list-container {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 115px;
        overflow-y: auto;
        background-color: #333;
        border: 1px solid #818181;
        z-index: 1000;
    }

    .service-item {
        padding: 10px;
        cursor: pointer;
    }

        .service-item:hover {
            background-color: #787878;
        }


    .user-selection-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-bottom: 20px;
        padding: 10px 0;
    }

    .user-item {
        flex: 0 0 auto;
        padding: 10px 20px;
        margin-right: 10px;
        background-color: #4a4a4a;
        color: #ffffff;
        cursor: pointer;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

        .user-item:hover {
            background-color: #666666;
        }

        .user-item.selected {
            background-color: #007bff;
        }
</style>