@model IEnumerable<BeautySalon.Models.AppointmentViewModel>
@{
    ViewData["Title"] = ViewBag.UserName;
    DateTime selectedDate = ViewBag.SelectedDate ?? DateTime.Today;
    bool isAdmin = ViewBag.IsAdmin ?? false;
    int appointmentCounter = 0;
}
<h1 class="text-center mb-4 page-title">Գրանցումներ - @ViewBag.UserName</h1>

<div class="container mt-4">
    <!-- Դեսքթոփ տարբերակ -->
    <div class="row mb-4 desktop-layout">
        <div class="col-md-6 d-flex align-items-center">
            <div class="date-input-wrapper flex-grow-1">
                <div class="d-flex align-items-center">
                    <button id="prevDay" class="btn btn-outline-secondary custom-day-button">&lt;</button>
                    <input type="text" id="datepicker" class="form-control datepicker-input" readonly value="@selectedDate.ToString("dd/MM/yyyy")" />
                    <button id="nextDay" class="btn btn-outline-secondary custom-day-button">&gt;</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <div class="d-flex align-items-center justify-content-end">
                <a asp-action="Create" asp-route-userId="@ViewBag.TargetUserId" class="btn btn-new-appointment mr-2">Նոր Նշանակում</a>
            </div>
        </div>
    </div>
    <!-- Մոբայլ տարբերակ -->
    <div class="mobile-layout">
        <div class="date-controls">
            <div class="date-input-wrapper">
                <div class="d-flex align-items-center">
                    <button id="prevDayMobile" class="btn btn-outline-secondary custom-day-button">&lt;</button>
                    <input type="text" id="datepickerMobile" class="form-control datepicker-input" readonly value="@selectedDate.ToString("dd/MM/yyyy")" />
                    <button id="nextDayMobile" class="btn btn-outline-secondary custom-day-button">&gt;</button>
                </div>
            </div>
        </div>
        <a asp-action="Create" asp-route-userId="@ViewBag.TargetUserId" class="btn btn-new-appointment mt-2">Նոր Նշանակում</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Ժամ</th>
                    <th>Անուն</th>
                    <th>Հեռախոսահամար</th>
                    <th>Ծառայություն</th>
                    <th>Գումար</th>
                    <th>Գործողություններ</th>
                </tr>
            </thead>
            <tbody>
                @for (int hour = 6; hour < 20; hour++)
                {
                    for (int minute = 0; minute < 60; minute += 30)
                    {
                        var currentTime = new TimeSpan(hour, minute, 0);
                        var appointments = Model.Where(a => a.Appointment.AppointmentHour == currentTime).ToList();
                        var ongoingAppointment = Model.FirstOrDefault(a =>
                        a.Appointment.AppointmentHour <= currentTime &&
                        a.Appointment.AppointmentHour.Add(TimeSpan.FromMinutes(a.Appointment.Duration)) > currentTime);

                        <tr>
                            <td class="hour-cell" style="vertical-align: middle; background-color: #f2f2f2; cursor: pointer;">
                                @hour.ToString("00"):@minute.ToString("00")
                            </td>
                            @if (appointments.Any())
                            {
                                var appointment = appointments.First();
                                var rowspan = (int)Math.Ceiling(appointment.Appointment.Duration / 30.0);
                                appointmentCounter++;
                                var backgroundColor = appointmentCounter % 2 == 0 ? "#adebad" : "#b3d9ff";
                                <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                    @if (appointment.CreatedByUserId != appointment.UserId)
                                    {
                                        <span class="badge badge-info" style="margin-right: 5px;">By @appointment.CreatedByUsername</span>
                                    }
                                    @appointment.Appointment.FirstName<br />
                                </td>
                                <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                    @appointment.Appointment.PhoneNumber<br />
                                </td>
                                <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                    <div class="service-selection-container">
                                        <input type="text" class="service-search form-control" data-id="@appointment.Appointment.Id"
                                               value="@(appointment.Appointment.ServiceId.HasValue ? appointment.Service?.ServiceName : appointment.Appointment.CustomServiceName)"
                                               placeholder="Որոնել կամ մուտքագրել ծառայությունը">
                                        <div class="service-list-container" style="display: none;">
                                            <!-- Ծառայությունների ցանկը կլցվի JavaScript-ով -->
                                        </div>
                                    </div>
                                </td>
                                <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                    @if (!appointment.Appointment.IsCompleted || ViewBag.IsAdmin)
                                    {
                                        <span class="editable-amount" data-id="@appointment.Appointment.Id">
                                            @(appointment.Appointment.CustomPrice.HasValue ?
                                                String.Format("{0:#,##0.00 ֏}", appointment.Appointment.CustomPrice.Value) :
                                                String.Format("{0:#,##0.00 ֏}", appointment.Service?.Price ?? 0))
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            @(appointment.Appointment.CustomPrice.HasValue ?
                                                String.Format("{0:#,##0.00 ֏}", appointment.Appointment.CustomPrice.Value) :
                                                String.Format("{0:#,##0.00 ֏}", appointment.Service?.Price ?? 0))
                                        </span>
                                    }
                                </td>
                                <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                    <div class="btn-group" role="group" aria-label="Operations">
                                        @if (!appointment.Appointment.IsCompleted || isAdmin)
                                        {
                                            <a class="btn btn-info edit-btn" asp-action="Edit" asp-route-id="@appointment.Appointment.Id" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" style="text-decoration: none; margin-right: 5px;" onclick="event.stopPropagation()">Ուղղել</a>
                                            <a class="btn btn-danger delete-btn" asp-action="Delete" asp-route-id="@appointment.Appointment.Id" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" style="text-decoration: none; margin-right: 5px;" onclick="event.stopPropagation()">Ջնջել</a>
                                        }

                                        @if (appointment.Appointment.IsCompleted)
                                        {
                                            @if (isAdmin)
                                            {
                                                <a class="btn btn-warning" id="toggleCompletedBtn_@appointment.Appointment.Id"
                                                   style="text-decoration: none; margin-right: 5px;"
                                                   onclick="handleToggleCompletedClick(event, '@appointment.Appointment.Id', this, @Json.Serialize(isAdmin), @appointment.Appointment.IsCompleted.ToString().ToLower())"
                                                   data-price="@(appointment.Appointment.CustomPrice != null ? appointment.Appointment.CustomPrice : appointment.Service.Price)">
                                                    Չեղարկել Կատարվածը
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="btn btn-secondary" style="text-decoration: none; margin-right: 5px;">Կատարված</span>
                                            }
                                        }
                                        else if (isAdmin || User.IsInRole("Manager"))
                                        {
                                            <a class="btn btn-success" id="toggleCompletedBtn_@appointment.Appointment.Id"
                                               style="text-decoration: none; margin-right: 5px;"
                                               onclick="handleToggleCompletedClick(event, '@appointment.Appointment.Id', this, @Json.Serialize(isAdmin), @appointment.Appointment.IsCompleted.ToString().ToLower())"
                                               data-price="@(appointment.Appointment.CustomPrice != null ? appointment.Appointment.CustomPrice : appointment.Service.Price)">
                                                Նշել կատարված
                                            </a>
                                        }
                                    </div>
                                </td>
                            }
                            else if (ongoingAppointment == null)
                            {
                                <td colspan="5" class="free-cell" style="background-color: #f2f2f2; cursor: pointer;" onclick="redirectToCreate('@selectedDate.ToString("yyyy-MM-dd")', '@hour.ToString("00"):@minute.ToString("00")')"></td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12">
                <div class="summary-block">
                    <div class="daily-summary-toggle" onclick="toggleDailySummary()">
                        <h4 class="text-center mb-0">Օրվա ամփոփում</h4>
                    </div>
                    <div class="daily-summary-content" style="display: none;">
                        <div class="summary-container p-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Ամսաթիվ: @ViewBag.SelectedDate.ToString("dd/MM/yyyy")</h4>
                                </div>
                                <div class="col-md-6 text-right">
                                    <h4>Օրվա ընդհանուր գումար (Կատարված նշանակումներ) <span id="totalCompletedAmount">@ViewBag.TotalCompletedAmount.ToString("#,##0.00 ֏")</span></h4>
                                    <h5>Կատարված նշանակումների քանակ` <span id="completedCount">@ViewBag.CompletedCount</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <div class="summary-block">
                <div class="income-distribution-toggle" onclick="toggleIncomeDistribution()">
                    <h4 class="text-center mb-0">Եկամտի Բաշխում</h4>
                </div>
                <div class="income-distribution-content" style="display: none;">
                    @if (ViewBag.IsAdmin || User.IsInRole("Manager"))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="text-center">Տոկոսային հարաբերություն</h5>
                                <div class="d-flex justify-content-center mb-3">
                                    <input type="number" id="employerPercentage" class="form-control form-control-sm percentage-input mr-2" placeholder="Գործատու" value="">
                                    <input type="number" id="employeePercentage" class="form-control form-control-sm percentage-input" placeholder="Աշխատակից" value="">
                                </div>
                                <div class="text-center mt-3">
                                    <button id="saveIncomeDistribution" class="btn btn-save">Պահպանել</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-center">Բաժանված գումարներ</h5>
                                <div class="amount-box employer mb-3">
                                    <p class="mb-1">Գործատուի մաս</p>
                                    <h4 id="employerAmount">0.00 ֏</h4>
                                </div>
                                <div class="amount-box employee">
                                    <p class="mb-1">Աշխատողի մաս</p>
                                    <h4 id="employeeAmount">0.00 ֏</h4>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <div class="amount-box employer mb-3">
                                    <h5 class="text-center">Գործատուի մաս</h5>
                                    <h4 id="employerAmount" class="text-center">0.00 ֏</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="amount-box employee">
                                    <h5 class="text-center">Աշխատողի մաս</h5>
                                    <h4 id="employeeAmount" class="text-center">0.00 ֏</h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.IsAdmin)
{
    <div class="text-right mt-4 mb-4">
        <a asp-action="Index" asp-controller="Home" class="btn btn-back-to-list btn-lg">Վերադառնալ Գլխավոր էջ</a>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    function initFlatpickr(elementId, prevButtonId, nextButtonId) {
        var fp = flatpickr(elementId, {
            dateFormat: "d/m/Y",
            defaultDate: "@selectedDate.ToString("dd/MM/yyyy")",
            onChange: function (selectedDates, dateStr, instance) {
                changeDate(dateStr);
            },
            disableMobile: true,
            enableTime: false,
            allowInput: false,
            clickOpens: true,
        });

        document.getElementById(prevButtonId).addEventListener('click', function () {
            var currentDate = fp.selectedDates[0] || new Date();
            var newDate = new Date(currentDate.setDate(currentDate.getDate() - 1));
            fp.setDate(newDate);
            changeDate(fp.formatDate(newDate, "d/m/Y"));
        });

        document.getElementById(nextButtonId).addEventListener('click', function () {
            var currentDate = fp.selectedDates[0] || new Date();
            var newDate = new Date(currentDate.setDate(currentDate.getDate() + 1));
            fp.setDate(newDate);
            changeDate(fp.formatDate(newDate, "d/m/Y"));
        });

        return fp;
    }

    var desktopFp = initFlatpickr("#datepicker", "prevDay", "nextDay");
    var mobileFp = initFlatpickr("#datepickerMobile", "prevDayMobile", "nextDayMobile");

    function changeDate(date) {
        var userId = '@ViewBag.TargetUserId';
        window.location.href = '/Appointments/Index?userId=' + userId + '&selectedDate=' + formatDateForUrl(date);
    }

    function redirectToCreate(date, time) {
        var userId = '@ViewBag.TargetUserId';
        window.location.href = '/Appointments/Create?userId=' + userId + '&date=' + date + '&time=' + time;
    }

    function formatDateForUrl(dateString) {
        var parts = dateString.split('/');
        return parts[2] + '-' + parts[1] + '-' + parts[0];
    }

    function formatDateForServer(dateString) {
        var parts = dateString.split('/');
        return parts[2] + '-' + parts[1] + '-' + parts[0];
    }

    var totalCompletedAmount = parseFloat('@ViewBag.TotalCompletedAmount'.replace(/,/g, ''));
    var completedCount = parseInt('@ViewBag.CompletedCount');

    function updateTotalCompletedAmount() {
        $('#totalCompletedAmount').text(totalCompletedAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
        $('#completedCount').text(completedCount);
    }

    let calculatedEmployeeAmount = 0;
    let calculatedEmployerAmount = 0;

    function checkZeroValueAppointments() {
        var selectedDate = $('#datepicker').val();
        var formattedDate = formatDateForServer(selectedDate);
        var userId = '@ViewBag.TargetUserId';
        return $.ajax({
            url: '/Appointments/CheckZeroValueAppointments',
            type: 'GET',
            data: { date: formattedDate, userId: userId },
            dataType: 'json'
        });
    }

    function calculateSplitAmount() {
        var totalAmount = parseFloat($('#totalCompletedAmount').text().replace(/[^\d.-]/g, ''));
        var employerPercentage = parseFloat($('#employerPercentage').val()) || 0;
        var employeePercentage = parseFloat($('#employeePercentage').val()) || 0;

        if (employerPercentage + employeePercentage !== 100) {
            $('#percentageError').text('Տոկոսների գումարը պետք է լինի 100%');
            return;
        } else {
            $('#percentageError').text('');
        }

        employerPercentage = employerPercentage / 100;
        employeePercentage = employeePercentage / 100;

        calculatedEmployerAmount = totalAmount * employerPercentage;
        calculatedEmployeeAmount = totalAmount * employeePercentage;

        $('#employerAmount').text(calculatedEmployerAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
        $('#employeeAmount').text(calculatedEmployeeAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
    }

    $(document).ready(function () {
        // Ֆունկցիա նշանակման տողերի ֆոնը թարմացնելու համար
        function updateAppointmentRowBackground($row, isCompleted) {
            var rowspan = parseInt($row.find('td[rowspan]').attr('rowspan'));
            var $allRows = $row.add($row.nextAll().slice(0, rowspan - 1));
            var originalColor = $row.find('td:not(.hour-cell)').first().data('original-color');

            if (isCompleted) {
                $allRows.find('td').css('background-color', 'yellow');
            } else {
                // Վերականգնել սկզբնական ֆոնի գույնը, ներառյալ ժամերի բջիջները
                $allRows.find('td').each(function () {
                    var $cell = $(this);
                    if ($cell.hasClass('hour-cell')) {
                        $cell.css('background-color', originalColor);
                    } else {
                        $cell.css('background-color', $cell.data('original-color') || '');
                    }
                });
            }
        }

        // Պահպանել սկզբնական ֆոնի գույները
        $('td').each(function () {
            var $cell = $(this);
            $cell.data('original-color', $cell.css('background-color'));
        });

        // Թարմացնել բոլոր կատարված նշանակումների ֆոնը էջի բեռնման ժամանակ
        $('tr:has(span:contains("Կատարված")), tr:has(a:contains("Չեղարկել Կատարվածը"))').each(function () {
            updateAppointmentRowBackground($(this), true);
        });

        // Փոխել handleToggleCompletedClick ֆունկցիան
        window.handleToggleCompletedClick = function (event, appointmentId, element, isAdmin, isCompleted) {
            event.stopPropagation();
            var price = parseFloat($(element).data('price'));
            $.ajax({
                url: '/Appointments/ToggleCompleted/' + appointmentId,
                type: 'POST',
                success: function (response) {
                    if (response.success) {
                        var $btn = $('#toggleCompletedBtn_' + appointmentId);
                        var $row = $btn.closest('tr');

                        if (response.isCompleted) {
                            updateAppointmentRowBackground($row, true);
                            if (isAdmin) {
                                $btn.removeClass('btn-success').addClass('btn-warning').text('Չեղարկել Կատարվածը');
                            } else {
                                $row.find('.delete-btn, .edit-btn').remove();
                                $row.find('.editable-amount').each(function () {
                                    var $this = $(this);
                                    var currentAmount = $this.text();
                                    $this.replaceWith('<span>' + currentAmount + '</span>');
                                });
                                $row.find('.service-search').prop('disabled', true).css('background-color', '#f8f9fa');
                                $btn.replaceWith('<span class="btn btn-secondary" style="text-decoration: none; margin-right: 5px;">Կատարված</span>');
                            }
                            totalCompletedAmount += price;
                            completedCount += 1;
                        } else {
                            updateAppointmentRowBackground($row, false);
                            $row.find('.editable-amount, .service-search').prop('disabled', false).css('background-color', '');
                            if (isAdmin) {
                                $btn.removeClass('btn-warning').addClass('btn-success').text('Նշել կատարված');
                            }
                            if (!isAdmin) {
                                $row.find('.btn-group').prepend('<a class="btn btn-info edit-btn" href="/Appointments/Edit/' + appointmentId + '" style="text-decoration: none; margin-right: 5px;">Ուղղել</a>');
                                $row.find('.btn-group').prepend('<a class="btn btn-danger delete-btn" href="/Appointments/Delete/' + appointmentId + '" style="text-decoration: none; margin-right: 5px;">Ջնջել</a>');
                            }
                            totalCompletedAmount -= price;
                            completedCount -= 1;
                        }
                        updateTotalCompletedAmount();
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 403) {
                        alert('Դուք չունեք թույլտվություն այս գործողությունը կատարելու համար:');
                    } else {
                        alert('Սխալ տեղի ունեցավ նշանակման կարգավիճակը փոխելիս:');
                    }
                }
            });
        };

        updateTotalCompletedAmount();

        var employerPercentage = parseFloat($('#employerPercentage').val());
        var employeePercentage = parseFloat($('#employeePercentage').val());

        if (!isNaN(employerPercentage) && !isNaN(employeePercentage)) {
            calculateSplitAmount();
        }
        $('#employerPercentage, #employeePercentage').on('input', function () {
            calculateSplitAmount();
        });
        $('.btn-calculate').on('click', calculateSplitAmount);


        // Գլոբալ փոփոխական էջի սկզբնական վերնագրի համար
        let originalTitle = document.title;
        // Էջի Title մասում կանաչ էմոջի տեղադրելու ֆունկցիա
        function updateTitle() {
            const employerAmount = parseFloat($('#employerAmount').text().replace(/[^\d.-]/g, ''));
            const employeeAmount = parseFloat($('#employeeAmount').text().replace(/[^\d.-]/g, ''));

            if (employerAmount !== 0 || employeeAmount !== 0) {
                // Ավելացնում ենք կանաչ շրջան էմոջին վերնագրի սկզբում
                document.title = '🟢 ' + originalTitle;
            } else {
                // Վերադարձնում ենք սկզբնական վերնագիրը
                document.title = originalTitle;
            }
        }


        $('#saveIncomeDistribution').on('click', function () {
            // Նախ կանչում ենք calculateSplitAmount ֆունկցիան
            calculateSplitAmount();

            // Ստուգում ենք, արդյոք տոկոսների գումարը 100 է
            var employerPercentage = parseFloat($('#employerPercentage').val()) || 0;
            var employeePercentage = parseFloat($('#employeePercentage').val()) || 0;

            if (employerPercentage + employeePercentage !== 100) {
                alert("Տոկոսների գումարը պետք է լինի 100: Խնդրում ենք ուղղել արժեքները նախքան պահպանելը:");
                return; // Դադարեցնում ենք ֆունկցիան, եթե տոկոսները սխալ են
            }

            // Եթե տոկոսները ճիշտ են, շարունակում ենք պահպանման գործընթացը
            checkZeroValueAppointments().then(function (response) {
                if (response.hasZeroValueAppointments) {
                    alert("Կան նշանակումներ, որոնք չունեն արժեք: Խնդրում ենք ստուգել բոլոր նշանակումները:");
                } else {
                    var selectedDate = $('#datepicker').val();
                    var formattedDate = formatDateForServer(selectedDate);
                    var userId = '@ViewBag.TargetUserId';
                    $.ajax({
                        url: '/IncomeReport/SaveIncomeReport',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            Date: formattedDate,
                            UserId: userId,
                            EmployeeAmount: calculatedEmployeeAmount,
                            EmployerAmount: calculatedEmployerAmount,
                            EmployeePercentage: employeePercentage,
                            EmployerPercentage: employerPercentage
                        }),
                        success: function (data) {
                            alert('Եկամտի հաշվետվությունը հաջողությամբ պահպանվեց');
                            updateDailyTotals(data);
                            updateTitle(); // Թարմացնում ենք վերնագիրը պահպանումից հետո
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                            alert('Սխալ եկամտի հաշվետվությունը պահպանելիս: ' + error);
                        }
                    });
                }
            }).catch(function (error) {
                console.error('Error in checkZeroValueAppointments:', error);
                alert('Սխալ տեղի ունեցավ նշանակումները ստուգելիս: ' + error);
            });
        });

        $('.table tr').each(function (index) {
            var $row = $(this);
            var $appointmentCell = $row.find('td[rowspan]');
            if ($appointmentCell.length > 0) {
                var backgroundColor = $appointmentCell.css('background-color');
                var rowspan = parseInt($appointmentCell.attr('rowspan'));

                $row.find('td').css('background-color', backgroundColor);

                for (var i = 1; i < rowspan; i++) {
                    $row.next().find('td').css('background-color', backgroundColor);
                    $row = $row.next();
                }
            }
        });

        // Apply hover effect only for free cells
        $('.free-cell').hover(
            function () {
                var $row = $(this).closest('tr');
                $row.find('.hour-cell').addClass('hour-cell-hover');
                $(this).css('background-color', '#e0e0e0');
            },
            function () {
                var $row = $(this).closest('tr');
                $row.find('.hour-cell').removeClass('hour-cell-hover');
                $(this).css('background-color', '#f2f2f2');
            }
        );

        function loadIncomeDistribution() {
            var selectedDate = desktopFp.selectedDates[0] || mobileFp.selectedDates[0];
            var formattedDate = formatDateForServer(flatpickr.formatDate(selectedDate, "d/m/Y"));
            var userId = '@ViewBag.TargetUserId';
            $.ajax({
                url: '/Appointments/GetIncomeDistribution',
                type: 'GET',
                data: { date: formattedDate, userId: userId },
                success: function (data) {
                    if (data) {
                        $('#employerAmount').text(data.employerAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
                        $('#employeeAmount').text(data.employeeAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
                        if ('@ViewBag.IsAdmin' === 'True' || '@User.IsInRole("Manager")' === 'True') {
                            $('#employerPercentage').val(data.employerPercentage);
                            $('#employeePercentage').val(data.employeePercentage);
                        }
                        updateTitle(); // Կանչում ենք վերնագրի թարմացման ֆունկցիան
                    } else {
                        $('#employerAmount').text('0.00 ֏');
                        $('#employeeAmount').text('0.00 ֏');
                        if ('@ViewBag.IsAdmin' === 'True' || '@User.IsInRole("Manager")' === 'True') {
                            $('#employerPercentage').val('');
                            $('#employeePercentage').val('');
                        }
                        updateTitle(); // Կանչում ենք վերնագրի թարմացման ֆունկցիան նաև այս դեպքում
                    }
                },
                error: function () {
                    alert('Սխալ եկամտի բաշխման տվյալները բեռնելիս');
                }
            });
        }

        loadIncomeDistribution();
        originalTitle = document.title;


        $('#appointmentDate').on('change', function () {
            loadIncomeDistribution();
        });

        $('.editable-amount').on('click', function () {
            var $this = $(this);
            var currentAmount = $this.text().replace(/[^\d.-]/g, '');
            var appointmentId = $this.data('id');

            var $input = $('<input type="text" />').val(currentAmount);
            $this.html($input);

            $input.focus();

            $input.on('blur keypress', function (e) {
                if (e.type === 'blur' || e.which === 13) {
                    e.preventDefault();
                    var newAmount = $(this).val();

                    $.ajax({
                        url: '/Appointments/UpdateAmount',
                        method: 'POST',
                        data: { id: appointmentId, amount: newAmount },
                        success: function (response) {
                            if (response.isCustomPrice) {
                                $this.html(response.formattedAmount);
                            } else {
                                $this.html('0.00 ֏');
                            }
                        },
                        error: function (xhr) {
                            if (xhr.status === 400) {
                                alert(xhr.responseText);
                            } else {
                                alert('Սխալ տեղի ունեցավ գումարը թարմացնելիս:');
                            }
                            $this.html(currentAmount + ' ֏');
                        }
                    });
                }
            });
        });

        // Ծառայությունների բեռնում և ֆիլտրում
        function loadAndFilterServices(container, searchTerm = '') {
            $.ajax({
                url: '@Url.Action("GetAllServices", "Appointments")',
                type: 'GET',
                success: function (services) {
                    var serviceList = container.find('.service-list-container');
                    serviceList.empty();
                    services.filter(function (service) {
                        return service.serviceName.toLowerCase().includes(searchTerm.toLowerCase());
                    }).forEach(function (service) {
                        serviceList.append('<div class="service-item" data-id="' + service.id + '">' + service.serviceName + '</div>');
                    });
                    serviceList.show();
                }
            });
        }

        // Ծառայության որոնման դաշտի իրադարձություններ
        $('.service-search').on('click focus', function (e) {
            e.stopPropagation();
            var container = $(this).closest('.service-selection-container');
            loadAndFilterServices(container, $(this).val());
        });

        $('.service-search').on('input', function () {
            var container = $(this).closest('.service-selection-container');
            var searchTerm = $(this).val();
            loadAndFilterServices(container, searchTerm);
        });

        $(document).on('click', function (event) {
            if (!$(event.target).closest('.service-selection-container').length) {
                $('.service-list-container').hide();
            }
        });

        // Ծառայության ընտրություն
        $(document).on('click', '.service-item', function () {
            var container = $(this).closest('.service-selection-container');
            var input = container.find('.service-search');
            var appointmentId = input.data('id');
            var serviceId = $(this).data('id');
            var serviceName = $(this).text();

            input.val(serviceName);
            container.find('.service-list-container').hide();

            updateService(appointmentId, serviceId, serviceName);
        });

        // Ծառայության թարմացում
        function updateService(appointmentId, serviceId, serviceName) {
            var originalServiceName = $('[data-id="' + appointmentId + '"]').attr('data-original-name');

            // Եթե ծառայության անունը չի փոխվել, ոչինչ չանել
            if (serviceName === originalServiceName) {
                return;
            }

            $.ajax({
                url: '@Url.Action("UpdateService", "Appointments")',
                type: 'POST',
                data: { appointmentId: appointmentId, serviceId: serviceId, serviceName: serviceName },
                success: function (response) {
                    if (response.success) {
                        var serviceInput = $('[data-id="' + appointmentId + '"]');
                        serviceInput.val(serviceName);
                        serviceInput.attr('data-original-name', serviceName);
                        var priceCell = serviceInput.closest('tr').find('.editable-amount');
                        priceCell.text(response.formattedPrice);
                    } else {
                        alert('Սխալ ծառայությունը թարմացնելիս: ' + response.errorMessage);
                    }
                },
                error: function () {
                    alert('Սխալ ծառայությունը թարմացնելիս');
                }
            });
        }

        $('.service-search').each(function () {
            $(this).attr('data-original-name', $(this).val());
        });

        // Enter կոճակի միջոցով պահպանում
        $('.service-search').on('keypress', function (e) {
            if (e.which == 13) {
                var input = $(this);
                var appointmentId = input.data('id');
                var serviceName = input.val();

                updateService(appointmentId, null, serviceName);
            }
        });

        // Դաշտից դուրս գալիս պահպանում
        $('.service-search').on('blur', function () {
            var input = $(this);
            var appointmentId = input.data('id');
            var serviceName = input.val();

            updateService(appointmentId, null, serviceName);
        });

        //Օրացույցը ու կոճակները կարգավորող կոդ
        function adjustTableForMobile() {
            if (window.innerWidth <= 768) {
                $('.table-responsive').scrollLeft(0);
                $('.hour-cell').css('width', '60px');
            } else {
                $('.hour-cell').css('width', 'auto');
            }
        }

        adjustTableForMobile();
        $(window).resize(adjustTableForMobile);

        // Կանչենք ֆունկցիան էջի բեռնման ժամանակ
        $(document).ready(adjustTableForMobile);
    });

    function updateDailyTotals(data) {
        $('#totalEmployeeAmount').text(data.totalEmployeeAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
        $('#totalEmployerAmount').text(data.totalEmployerAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
    }


    function toggleDailySummary() {
        const content = document.querySelector('.daily-summary-content');
        toggleContent(content);
    }

    function toggleIncomeDistribution() {
        const content = document.querySelector('.income-distribution-content');
        toggleContent(content);
    }

    function toggleContent(element) {
        if (element.style.display === 'none' || element.style.display === '') {
            element.style.display = 'block';
            element.style.maxHeight = '0px';
            setTimeout(() => {
                element.style.maxHeight = element.scrollHeight + 'px';
            }, 10);
        } else {
            element.style.maxHeight = '0px';
            element.addEventListener('transitionend', function handler() {
                element.style.display = 'none';
                element.removeEventListener('transitionend', handler);
            });
        }
    }
</script>



<style>
    .completed-appointment {
        background-color: yellow;
        border-color: #c3e6cb;
    }

    td[style*="vertical-align: middle; background-color: #f2f2f2;"] {
        font-weight: bold;
        color: #333;
    }

    .summary-container {
        background-color: #495057;
        border-radius: 10px;
    }

    .summary-container {
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .percentage-input {
        width: 150px;
        font-size: 1.1rem;
        padding: 8px;
    }

    .amount-box {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

        .amount-box.employer {
            border-left: 4px solid #28a745;
        }

        .amount-box.employee {
            border-left: 4px solid #007bff;
        }

        .amount-box p {
            color: #6c757d;
        }

        .amount-box h4 {
            color: #343a40;
            margin-bottom: 0;
        }

    .btn-calculate {
        background-color: #e9ecef;
        color: #495057;
        border: 1px solid #ced4da;
        padding: 10px 20px;
        font-size: 1.1rem;
        transition: all 0.3s ease;
    }

        .btn-calculate:hover {
            background-color: #dee2e6;
            color: #212529;
        }

    .page-title {
        color: #4e4e4e;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .btn-new-appointment {
        background-color: #4a4a4a;
        color: white;
        transition: background-color 0.3s ease;
    }

        .btn-new-appointment:hover {
            background-color: #666666;
            color: white;
        }


    .btn-save {
        background-color: #4a4a4a;
        color: white;
        font-size: 1.1rem;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
    }

        .btn-save:hover {
            background-color: #666666;
            color: white;
        }

    .btn-back-to-list {
        background-color: #232323;
        color: white;
        font-size: 1.2rem;
        padding: 12px 24px;
        transition: background-color 0.3s ease;
    }

        .btn-back-to-list:hover {
            background-color: #4a545b;
            color: white;
        }



    .hour-cell {
        font-weight: bold;
        color: #333;
    }

    .hour-cell-hover {
        background-color: #e0e0e0 !important;
    }


    .daily-summary-toggle,
    .income-distribution-toggle {
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 10px;
    }

        .daily-summary-toggle:hover,
        .income-distribution-toggle:hover {
            background-color: #e9ecef;
        }

    .daily-summary-content,
    .income-distribution-content {
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        padding: 20px;
        margin-top: 10px;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        max-height: 0;
    }

    .summary-block {
        max-width: 1250px; /* կամ ցանկացած այլ արժեք, որը համապատասխանում է ձեր դիզայնին */
        margin: 0 auto 20px;
    }

    .service-selection-container {
        position: relative;
    }

    .service-list-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 95px;
        overflow-y: auto;
        background-color: white;
        border: 1px solid #ccc;
        border-top: none;
        z-index: 1000;
    }

    .service-item {
        padding: 5px 10px;
        cursor: pointer;
    }

        .service-item:hover {
            background-color: #f0f0f0;
        }


    .date-input-wrapper {
        position: relative;
        cursor: pointer;
        flex-grow: 1;
        margin: 0 10px;
        user-select: none;
    }

        .date-input-wrapper input[type="date"] {
            width: 100%;
            pointer-events: none;
        }

            .date-input-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
                display: none;
            }

    #appointmentDate {
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        border: 1px solid #ced4da;
        background-color: white;
    }

        #appointmentDate:focus {
            outline: none;
            box-shadow: none;
            border-color: #ced4da;
        }


    .custom-day-button {
        margin-right: 5px;
        margin-left: 5px;
        background-color: #4a4a4a;
        color: white;
        transition: background-color 0.3s ease;
    }

        .custom-day-button:hover {
            background-color: #6c6c6c;
        }

    /* Ensure the left margin is only applied to the next button */
    #nextDay, #nextDayMobile {
        margin-left: 5px;
        margin-right: 0;
    }

    /* Ensure the right margin is only applied to the prev button */
    #prevDay, #prevDayMobile {
        margin-right: 5px;
        margin-left: 0;
    }

    /* Ընդհանուր ոճեր բոլոր էկրանների համար */
    .table-responsive {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        max-width: 100%;
    }

        .table-responsive table {
            width: 100%;
        }

        .table-responsive th,
        .table-responsive td {
            border: 2px solid #4a4a4a;
            padding: 10px;
        }

        .table-responsive th {
            background-color: #e0e0e0;
            position: sticky;
            top: 0;
            z-index: 1;
        }

    .hour-cell {
        min-width: 70px;
        font-weight: bold;
    }

    /* Նշանակումների ինֆորմացիայի ուղղահայաց մեջտեղ բոլոր էկրանների համար */
    .table-responsive td[style*="background-color"] {
        vertical-align: middle !important;
        text-align: center;
    }

    /* Անուն-ի սյունակի լայնություն */
    .table-responsive td:nth-child(2) {
        min-width: 150px;
        white-space: nowrap;
    }

    /* Գումարի դաշտի համար */
    .editable-amount {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px; /* Կարող եք փոխել այս արժեքը ըստ ձեր նախընտրության */
    }

    @@media (max-width: 768px) {
        .table-responsive {
            font-size: 15px;
            -webkit-overflow-scrolling: touch;
            overflow-x: auto;
            scrollbar-width: none;
        }

            .table-responsive::-webkit-scrollbar {
                display: none;
            }

            .table-responsive table {
                width: 120%;
                border-left: none !important;
            }

            .table-responsive th:first-child,
            .hour-cell {
                position: sticky;
                left: 0;
                z-index: 3;
                background-color: #e0e0e0 !important;
                border: none !important;
                outline: 4px solid #4a4a4a;
                outline-offset: -3px;
            }

            .table-responsive th:first-child {
                z-index: 4;
                outline-width: 4px; /* Վերևի outline-ը 1px-ով հաստացված */
            }

        .hour-cell:last-child {
            border-bottom: none !important;
            outline-width: 4px; /* Ներքևի վերջին ժամի outline-ը 1px-ով հաստացված */
        }

        .table-responsive td:nth-child(2) {
            border-left: none !important;
        }

        .table-responsive td,
        .table-responsive th {
            border: 2px solid #4a4a4a;
        }
        /* Մեծացնում ենք բոլոր տեքստային էլեմենտների տառաչափերը */
        body, input, button, .btn, h2, h3, h4, h5, h6, p, span, a, td, th {
            font-size: 110%; /* Մեծացնում ենք տառաչափը 10%-ով */
        }
        /* Մեծացնում ենք կոճակների չափը */
        .btn {
            padding: 12px 20px;
        }
        /* Մեծացնում ենք մուտքագրման դաշտերի չափը */
        input[type="date"], input[type="text"] {
            height: 40px;
        }

        .mobile-layout {
            display: flex;
            flex-direction: column;
        }

            .mobile-layout .date-controls {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
            }

            .mobile-layout #prevDay,
            .mobile-layout #nextDay {
                flex: 0 0 auto;
            }

            .mobile-layout .date-input-wrapper {
                flex: 1;
                margin: 0 10px;
            }

            .mobile-layout .btn-new-appointment {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 20px;
            }

        .desktop-layout {
            display: none;
        }

        .mobile-layout #prevDayMobile,
        .mobile-layout #nextDayMobile {
            background-color: #808080;
            color: white;
            border: none;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;
        }

            .mobile-layout #prevDayMobile:hover,
            .mobile-layout #nextDayMobile:hover {
                background-color: white;
                color: #808080;
            }

        .btn-back-to-list {
            background-color: #232323;
            color: white;
            font-size: 1.2rem;
            padding: 12px 24px;
            transition: background-color 0.3s ease;
            display: block;
            margin: 0 auto;
            width: fit-content;
        }
    }

    @@media (min-width: 769px) {
        .mobile-layout {
            display: none;
        }

        .desktop-layout {
            display: flex;
        }
    }

    .ui-datepicker {
        z-index: 9999 !important; /* Բարձր z-index օրացույցի համար */
    }

    .datepicker-input {
        position: relative;
        z-index: 1000; /* Բարձր z-index input-ի համար */
    }

    .flatpickr-buttons {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #f0f0f0;
    }

        .flatpickr-buttons button {
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .flatpickr-buttons button:hover {
                background-color: #0056b3;
            }
    /* Մոբայլ սարքերի համար ոճեր */
    @@media (max-width: 768px) {
        .flatpickr-calendar {
            font-size: 16px; /* Ավելի մեծ տառաչափ մոբայլ սարքերի համար */
        }

        .flatpickr-day {
            line-height: 38px; /* Ավելի մեծ օրերի բջիջներ */
        }
    }
</style>