@model IEnumerable<BeautySalon.Models.AppointmentViewModel>
@{
    ViewData["Title"] = "Գրանցումներ";
    DateTime selectedDate = ViewBag.SelectedDate ?? DateTime.Today;
    bool isAdmin = ViewBag.IsAdmin ?? false;
    int appointmentCounter = 0;
    string userName = ViewBag.UserName ?? "Սեփական Գրանցումներ";
}

<h1 class="text-center mb-4 page-title">Գրանցումներ - @userName</h1>


<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-6 d-flex align-items-center">
            <button id="prevDay" class="btn btn-outline-secondary mr-2">&lt;</button>
            <input type="date" id="appointmentDate" class="form-control" value="@selectedDate.ToString("yyyy-MM-dd")" onchange="changeDate(this.value)">
            <button id="nextDay" class="btn btn-outline-secondary ml-2">&gt;</button>
        </div>
        <div class="col-md-6 text-right">
            <div class="d-flex align-items-center justify-content-end">
                <a asp-action="Create" asp-route-userId="@ViewBag.TargetUserId" class="btn btn-new-appointment mr-2">Նոր Նշանակում</a>
                <span id="liveTime" class="live-time ml-2"></span>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Ժամ</th>
                <th>Անուն</th>
                <th>Հեռախոսահամար</th>
                <th>Ծառայություն</th>
                <th>Գումար</th>
                <th>Գործողություններ</th>
            </tr>
        </thead>
        <tbody>
            @for (int hour = 8; hour < 20; hour++)
            {
                for (int minute = 0; minute < 60; minute += 30)
                {
                    var currentTime = new TimeSpan(hour, minute, 0);
                    var appointments = Model.Where(a => a.Appointment.AppointmentHour == currentTime).ToList();
                    var ongoingAppointment = Model.FirstOrDefault(a =>
                    a.Appointment.AppointmentHour <= currentTime &&
                    a.Appointment.AppointmentHour.Add(TimeSpan.FromMinutes(a.Appointment.Duration)) > currentTime);

                    <tr>
                        <td style="vertical-align: middle; background-color: #f2f2f2; cursor: pointer;">
                            @hour.ToString("00"):@minute.ToString("00")
                        </td>
                        @if (appointments.Any())
                        {
                            var appointment = appointments.First();
                            var rowspan = (int)Math.Ceiling(appointment.Appointment.Duration / 30.0);
                            appointmentCounter++;
                            var backgroundColor = appointmentCounter % 2 == 0 ? "#adebad" : "#b3d9ff";
                            <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                @if (appointment.Appointment.IsCreatedByAdmin)
                                {
                                    <span class="badge badge-info" style="margin-right: 5px;">By Admin</span>
                                }
                                @appointment.Appointment.FirstName<br />
                            </td>
                            <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                @appointment.Appointment.PhoneNumber<br />
                            </td>
                            <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                @appointment.Service.ServiceName<br />
                            </td>
                            <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                @(appointment.Appointment.CustomPrice != 0 ?
                                    String.Format("{0:#,##0.00 ֏}", appointment.Appointment.CustomPrice) :
                                    String.Format("{0:#,##0.00 ֏}", appointment.Service.Price))<br />
                            </td>
                            <td style="background-color: @backgroundColor;" rowspan="@rowspan">
                                <div class="btn-group" role="group" aria-label="Operations">
                                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@appointment.Appointment.Id" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" style="text-decoration: none; margin-right: 5px;" onclick="event.stopPropagation()">Ուղղել</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@appointment.Appointment.Id" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" style="text-decoration: none; margin-right: 5px;" onclick="event.stopPropagation()">Ջնջել</a>
                                    @if (appointment.Appointment.IsCompleted)
                                    {
                                        <span class="btn btn-secondary" style="text-decoration: none; margin-right: 5px;" onclick="event.stopPropagation()">Կատարված</span>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success" id="markCompletedBtn_@appointment.Appointment.Id"
                                           style="text-decoration: none; margin-right: 5px;"
                                           onclick="handleMarkCompletedClick(event, '@appointment.Appointment.Id', this)"
                                           data-price="@(appointment.Appointment.CustomPrice != 0 ? appointment.Appointment.CustomPrice : appointment.Service.Price)">
                                            Նշել կատարված
                                        </a>
                                    }
                                </div>
                            </td>
                        }
                        else if (ongoingAppointment == null)
                        {
                            <td colspan="5" style="background-color: #f2f2f2; cursor: pointer;" onclick="redirectToCreate('@selectedDate.ToString("yyyy-MM-dd")', '@hour.ToString("00"):@minute.ToString("00")')"></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="summary-container mt-4 p-3">
        <div class="row">
            <div class="col-md-6">
                <h4>Ամսաթիվ: @ViewBag.SelectedDate.ToString("dd/MM/yyyy")</h4>
            </div>
            <div class="col-md-6 text-right">
                <h4>Օրվա ընդհանուր գումար (Կատարված նշանակումներ) <span id="totalCompletedAmount">@ViewBag.TotalCompletedAmount.ToString("#,##0.00 ֏")</span></h4>
                <h5>Կատարված նշանակումների քանակ` <span id="completedCount">@ViewBag.CompletedCount</span></h5>
            </div>
        </div>
    </div>


</div>


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="summary-container p-4">
                <h4 class="text-center mb-4">Եկամտի բաշխում</h4>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-center">Տոկոսային հարաբերություն</h5>
                        <div class="d-flex justify-content-center mb-3">
                            <input type="number" id="employerPercentage" class="form-control form-control-sm percentage-input mr-2" placeholder="Գործատու" value="">
                            <input type="number" id="employeePercentage" class="form-control form-control-sm percentage-input" placeholder="Աշխատակից" value="">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-calculate" onclick="calculateSplitAmount()">Հաշվել</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center">Բաժանված գումարներ</h5>
                        <div class="amount-box employer mb-3">
                            <p class="mb-1">Գործատուի մաս</p>
                            <h4 id="employerAmount">0.00 ֏</h4>
                        </div>
                        <div class="amount-box employee">
                            <p class="mb-1">Աշխատողի մաս</p>
                            <h4 id="employeeAmount">0.00 ֏</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.IsAdmin)
{
    <div class="text-right mt-4 mb-4">
        <a asp-action="Index" asp-controller="Home" class="btn btn-back-to-list">Վերադառնալ օգտատերերի ցանկին</a>
    </div>
}

<script>
    function redirectToCreate(date, time) {
        var userId = '@ViewBag.TargetUserId';
        window.location.href = '/Appointments/Create?userId=' + userId + '&date=' + date + '&time=' + time;
    }

    // Function to handle date change
    function changeDate(date) {
        var userId = '@ViewBag.TargetUserId';
        window.location.href = '/Appointments/Index?userId=' + userId + '&selectedDate=' + date;
    }

    // Ensure these variables are declared in the global scope so they can be updated dynamically
    var totalCompletedAmount = parseFloat('@ViewBag.TotalCompletedAmount'.replace(/,/g, ''));
    var completedCount = parseInt('@ViewBag.CompletedCount');

    // Function to handle marking an appointment as completed
    function handleMarkCompletedClick(event, appointmentId, element) {
        event.stopPropagation(); // Կանխում է իրադարձության տարածումը
        var price = $(element).data('price');
        $.ajax({
            url: '/Appointments/MarkCompleted/' + appointmentId,
            type: 'POST',
            success: function () {
                var $btn = $('#markCompletedBtn_' + appointmentId);
                var $row = $btn.closest('tr');
                $row.find('td').css('background-color', 'yellow');
                $btn.replaceWith('<span class="btn btn-secondary" style="text-decoration: none; margin-right: 5px;">Կատարված</span>');

                // Dynamically update the total completed amount and count
                totalCompletedAmount += parseFloat(price);
                completedCount += 1;
                updateTotalCompletedAmount();
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                alert('Սխալ տեղի ունեցավ նշանակումը որպես կատարված նշելիս:');
            }
        });
    }

    // Function to update the displayed total completed amount and count
    function updateTotalCompletedAmount() {
        $('#totalCompletedAmount').text(totalCompletedAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
        $('#completedCount').text(completedCount);
        calculateSplitAmount();
    }

    // Function to update live time display every second
    function updateLiveTime() {
        var now = new Date();
        var hours = now.getHours().toString().padStart(2, '0');
        var minutes = now.getMinutes().toString().padStart(2, '0');
        var seconds = now.getSeconds().toString().padStart(2, '0');
        document.getElementById("liveTime").innerText = hours + ":" + minutes + ":" + seconds;
    }

    // Initial call to update time on page load
    updateLiveTime();

    // Update time every second
    setInterval(updateLiveTime, 1000);

    // Function to handle prev and next day button clicks
    document.getElementById("prevDay").addEventListener("click", function () {
        var selectedDate = new Date(document.getElementById("appointmentDate").value);
        selectedDate.setDate(selectedDate.getDate() - 1);
        changeDate(selectedDate.toISOString().split('T')[0]);
    });

    document.getElementById("nextDay").addEventListener("click", function () {
        var selectedDate = new Date(document.getElementById("appointmentDate").value);
        selectedDate.setDate(selectedDate.getDate() + 1);
        changeDate(selectedDate.toISOString().split('T')[0]);
    });

    $(document).ready(function () {
        updateTotalCompletedAmount();

        $('tr').each(function () {
            if ($(this).find('span:contains("Կատարված")').length > 0) {
                $(this).find('td').css('background-color', 'yellow');
            }
        });
    });

    function calculateSplitAmount() {
        var totalAmount = parseFloat($('#totalCompletedAmount').text().replace(/[^\d.-]/g, ''));
        var employerPercentage = parseFloat($('#employerPercentage').val()) / 100;
        var employeePercentage = parseFloat($('#employeePercentage').val()) / 100;

        if (employerPercentage + employeePercentage !== 1) {
            // alert('Տոկոսների գումարը պետք է լինի 100%');
            return;
        }

        var employerAmount = totalAmount * employerPercentage;
        var employeeAmount = totalAmount * employeePercentage;

        $('#employerAmount').text(employerAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
        $('#employeeAmount').text(employeeAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' ֏');
    }

    // Կանչեք այս ֆունկցիան էջի բեռնման ժամանակ
    $(document).ready(function () {
        calculateSplitAmount();
    });
</script>





<style>
    .live-time {
        font-size: 1rem;
        font-weight: bold;
        padding: 0.35rem 0.8rem;
        margin-left: 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f9fa;
    }

    .completed-appointment {
        background-color: yellow;
        border-color: #c3e6cb;
    }

    td[style*="vertical-align: middle; background-color: #f2f2f2;"] {
        font-weight: bold;
        color: #333;
    }

    .summary-container {
        background-color: #495057;
        border-radius: 10px;
    }

    .summary-container {
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .percentage-input {
        width: 120px;
    }

    .amount-box {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

        .amount-box.employer {
            border-left: 4px solid #28a745;
        }

        .amount-box.employee {
            border-left: 4px solid #007bff;
        }

        .amount-box p {
            color: #6c757d;
        }

        .amount-box h4 {
            color: #343a40;
            margin-bottom: 0;
        }

    .btn-calculate {
        background-color: #e9ecef;
        color: #495057;
        border: 1px solid #ced4da;
        padding: 10px 20px;
        font-size: 1.1rem;
        transition: all 0.3s ease;
    }

        .btn-calculate:hover {
            background-color: #dee2e6;
            color: #212529;
        }

    .page-title {
        color: #4e4e4e;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .btn-new-appointment {
        background-color: #4a4a4a;
        color: white;
        transition: background-color 0.3s ease;
    }

        .btn-new-appointment:hover {
            background-color: #666666;
            color: white;
        }

    #prevDay, #nextDay {
        width: 33px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #808080;
        color: white;
        border: none;
    }

        #prevDay:hover, #nextDay:hover {
            background-color: #666666;
        }

    .btn-back-to-list {
        background-color: #232323;
        color: white;
        font-size: 1.1rem;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
    }

        .btn-back-to-list:hover {
            background-color: #4a545b;
            color: white;
        }

</style>